body{
    font-family: 'vasir','IBM Plex Sans', sans-serif;
    margin: 0px ;
    padding: 0px;
    transition: .5s;
    background-color: rgb(255, 255, 255);
    min-width: 310px;
}
@font-face {
    font-family: "vasir";
    src: url(vazir-font/Vazir.ttf);

}
img#Bahrani-Gsm{
    float: right;
    position: relative;
    top: 8px;
    width: 80px;
    margin: 10px;
}

div.navbar{
    width: 98%;
    height: 85px;
    position: relative;
    bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -8px;
    background-color: rgb(240, 240, 240);
    z-index: 100;

}
ul.navbar{    
    list-style: none;
    text-align: right;
    
    

}
div.navbar ul{ 
    transition: .5s;
}
ul.navbar li{
    transition: .5s;
    margin: 30px 6px;
    display: inline-block;
}
ul.navbar li a {
    text-decoration: none;
    
}
ul.navbar li a:visited{
    color: currentColor
}
div.account{
    text-align: left;
    margin-top: -71px;
    margin-left: 30px;
    
    
}
a:visited{
    color:currentColor
}
div.account span{
    transition: .5s;
    color: #1bb53d;
    border: 1px solid #1bb53d;
    padding: 10px 10px;
    border-radius: 10px;position: relative;
    top: 10px;
    text-shadow: 0px 0px 15px ;
    z-index: 110;
}
div.account span:hover{
    background-color: #1bb53d;
    color: white;

}
ul.navbar li:hover{
    color: #1bb53d;
    border-bottom: #1bb53d 1px solid;
}

a{
    text-decoration: none;
}





/* mani */
main{
    margin: 70px 10px 12px 10px;
}
.intro-video{
    border-radius: 6px;
}
video{
    width: 92%;
    padding-top: 20px;
    margin-bottom: 25px;
    
}
h1#text-one{
    margin: 12px 21px;
    position: relative;
    top: 15px;
    font-size: 25px;
    background-image: linear-gradient(-135deg, #00ff37, rgb(0, 119, 255) 100%);
    border-radius: 10px;
    padding: 10px 10px;
    
}


.course-point{
    margin: 5px 20px;
    
}
.course-point h2{
    border-radius: 10px;
    background-image: linear-gradient(-135deg, #00ff37, rgb(0, 119, 255) 100%);
    padding: 10px 10px;

}
p#text-two1{
    font-size: 23px;
}
.seasons{
    width: 92%;
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    height: 46rem;

    
}
#text-three{
    padding: 11px 5px;
    font-size: 30px;
    position: relative;
    top: 14px;
    border-radius: 10px;
    background-image: linear-gradient(-135deg, #00ff37, rgb(0, 119, 255) 100%);
    width: 17rem;

}
.seasons h3{
    background-color: rgb(0, 68, 255);
    padding:20px 0px;
    color: white;
    width: 90%;
    border-radius: 10px;
    transition-duration: .25s;

}
.seasons hr{
    width: 75%;
    border: 1px dashed #000;
    transition-duration: .3s;
}
.seasons h3:hover{
    box-shadow:0px 0px 15px 2px rgba(0, 68, 255, 0.808);
    font-size: 20px
}





/* footer */

footer div.footer{
    
    width: 100%;
    text-align: right;
    display: grid;
    direction: rtl;
    grid-template-columns: 47% 11% 21% 20%
    
}
footer{
   background-color: #1bb53d ; 
}
div.footer div{
    margin-left: 10px;
}
div.footer h2{
    padding: 2px 0px 18px 0px;
    color: white;

}
/* div.footer h2 */
div.footer .first{
    padding: 26px 43px 0px 0px;
}
div.footer .numbers , div.instagram, div.whatsapp {
    color: #f3f3f3;
    padding-top: 34px;
}

div.footer .numbers h4{
    color: #eeeeee;
    line-height: 34px;
}
div.instagram img {
    transition-duration: .3s;
    width: 103px;

}
div.instagram img:hover{
    width: 110px;
}
div.whatsapp img {
    transition-duration: .3s;
    width: 90px;
    margin-top: -3px;
}
div.whatsapp h3{
    color: #f3f3f3;
}
div.whatsapp img:hover{
    width: 100px;
}
div.footer .first h3, div.footer .first h4{
    color: #f3f3f3;
}

/* footer */

@media screen and (max-width:1111px){

    footer div.footer{
        grid-template-columns: 57% 13% 30%;
        grid-template-rows: 48%;
    }

}
@media screen and (max-width:970px){
    footer div.footer{
        grid-template-columns: 71% 28%;
        grid-template-rows: 48% 62%;
      }
    div.instagram, div.whatsapp{
        position: relative;
        left: 85px;
    }

}
@media screen and (max-width:801px){
    footer div.footer{
        display: block;
        text-align: center;
        padding-top: 10px;
        
        
      }
      div.footer div{
        margin-left: 0px;
      }
      div.footer .first{
        padding:26px 0px 0px 0px
      }
    div.instagram, div.whatsapp{
        position: static;
    }

}
/* navbar */

@media screen and (max-width:400px){
    li{
        font-size: 15px;
        margin: 20px 2px !important;
        margin-right: -4px;
    }
    img#Bahrani-Gsm{
        width: 48px;
    }
    div.account{
        margin-top: -62px !important;
        margin-left: 12px !important;
    }
    div.account span{
        font-size: 15px;
        padding: 10px 5px !important;
    }
    div.navbar{
        height: 65px;
    }
}